---
import BaseLayout from "../layouts/BaseLayout.astro";
import DynamicGeometry from "../components/DynamicGeometry.astro";
---

<BaseLayout>
	<div id="home" class="w-full md:-mb-10" >
		<section id="home-page" class="bg-pearl dark:bg-silver text-silver dark:text-pearl m-5 md:flex md:flex-row md:justify-between md:items-center" >
			<DynamicGeometry />

			<div class="h-screen text-white flex flex-col items-center justify-center space-y-6">
				<!-- Title -->
				<h1 class="text-5xl font-bold text-center md:text-7xl lg:text-8xl relative z-20">
					<span class="text-pearl">AA<span class="text-gold">KASH</span><br />SUDHAKAR</span>
				</h1>
				<!-- Buttons -->
				<div class="flex space-x-4 relative z-20">
					<a id="directLinkToCourses" href="/teaching/">
						<button id="allCourses" class="px-3 py-2 text-lg font-semibold bg-pearl text-silver rounded-lg hover:bg-gold hover:text-pearl transition">
						Courses
						</button>
					</a>
					<a id="directLinkToProjects" href="/projects/">
						<button id="allProjects" class="px-3 py-2 text-lg font-semibold bg-pearl text-silver rounded-lg hover:bg-gold hover:text-pearl transition">
						Projects
						</button>
					</a>
				</div>
			</div>
		</section>
	</div>
</BaseLayout>
