<div id="footer" class="bg-pearl dark:bg-silver z-20 mt-28 border-t border-1 border-gray-600 flex items-center m-5" >
    <i class="fa-solid fa-hand-holding-heart"></i>
    <p class="m-5 font-code font-extralight text-sm md:text-xs">
        Thanks for swinging by! 
    </p>
</div>