<div id="togglePhysicsBtn" class="theme justify-start absolute z-10 right-14 lg:right-4 top-9 w-[42px] h-6 p-[3px] bg-white rounded-[14px] border border-black items-center gap-2.5 inline-flex">
        <div class="circle w-[18px] h-[18px] bg-silver rounded-full shadow"></div>
</div>

<script is:inline>
    const toggleTheme = document.querySelector(".theme");
    const targetTheme = document.documentElement;
    const circle = document.querySelector(".circle");
    let inbetweeningState = false;

    const switchTheme = () => {
        if (inbetweeningState) return;
        inbetweeningState = true;

        const state = Flip.getState(circle);

        if (targetTheme.classList.contains("stars")) {
            targetTheme.classList.remove("stars");
            localStorage.setItem("theme", "atoms");
            toggleTheme.classList.remove("justify-end");
            toggleTheme.classList.add("justify-start");
        } else {
            targetTheme.classList.add("stars");
            localStorage.setItem("theme", "stars");
            toggleTheme.classList.remove("justify-start");
            toggleTheme.classList.add("justify-end");
        }

        Flip.from(state, {
            duration: 0.5,
            ease: "bounce.out",
            onComplete: () => (inbetweeningState = false)
        });
    }

    toggleTheme.addEventListener("click", switchTheme);
</script>